.container {
    max-width: 1000px;
    margin: 0 auto;
}

.contact-form {
    float: left;
    width: 60%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.image {
    float: right;
    width: 40%;
}

.image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.from-grid {
    display: flex;
    gap: 10px;
    margin-top: 40px
}

@media (max-width: 600px) {

    .image {
        display: none;
    }

    .contact-form {
        width:100%;
    }

}